/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased; }

header {
  padding-top: 0.5rem; }
  header h1 {
    color: rgba(255, 255, 255, 0.8);
    padding-left: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-family: "proxima-nova", helvetica, arial, sans-serif;
    font-weight: 500;
    font-size: 3rem; }
    @media screen and (max-width: 768px) {
      header h1 {
        font-size: 1.5rem; } }
  header nav ul {
    padding: 0; }
    header nav ul li {
      list-style-type: none;
      display: inline; }
      header nav ul li a {
        font-family: "proxima-nova", helvetica, arial, sans-serif;
        text-transform: uppercase;
        padding-left: 1rem;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8); }

body.pubs header h1, body.pubs header nav ul li a {
  color: #444; }

section.hero {
  height: 80%;
  margin-top: -11rem;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/assets/img/abv-laugh.jpg);
  background-repeat: no-repeat; }

body.pubs section.hero {
  background-image: url(/assets/img/us_le.png); }

section.content {
  max-width: 1000px;
  padding: 1rem;
  margin: 1rem auto 2rem; }
  @media screen and (max-width: 768px) {
    section.content section.news, section.content section.about, section.content section.visualizations {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      margin-right: 0; }
      section.content section.news:last-child, section.content section.about:last-child, section.content section.visualizations:last-child {
        margin-right: 0; } }
  section.content:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both; }
  section.content h2 {
    font-family: "proxima-nova", helvetica, arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 2rem; }
  section.content .news {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    section.content .news:last-child {
      margin-right: 0; }
    section.content .news ul {
      padding: 0; }
      section.content .news ul li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%;
        margin-right: 0;
        list-style-type: none;
        margin-top: 1rem;
        margin-bottom: 2rem; }
        section.content .news ul li:last-child {
          margin-right: 0; }
        @media screen and (max-width: 768px) {
          section.content .news ul li {
            float: left;
            display: block;
            margin-right: 7.42297%;
            width: 100%; }
            section.content .news ul li:last-child {
              margin-right: 0; } }
        section.content .news ul li:first-child {
          margin-top: 0; }
        section.content .news ul li a {
          text-decoration: none;
          color: #000; }
          section.content .news ul li a span.description {
            margin-bottom: 0.4rem;
            display: block;
            font-family: "proxima-nova", helvetica, arial, sans-serif;
            font-size: 0.9rem;
            font-weight: 700; }
            section.content .news ul li a span.description span.journal-name {
              font-style: italic; }
          section.content .news ul li a span.title {
            margin-bottom: 0.4rem;
            display: block;
            font-family: "museo-slab", garamond, serif;
            font-size: 1.2rem; }
          section.content .news ul li a span.subtitle, section.content .news ul li a span.author {
            display: block;
            color: #888;
            font-family: "proxima-nova", helvetica, arial, sans-serif;
            font-size: 1rem; }
  section.content .pubs {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section.content .pubs:last-child {
      margin-right: 0; }
    section.content .pubs ul {
      padding: 0; }
      section.content .pubs ul li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 91.4702%;
        margin-right: 0;
        list-style-type: none;
        margin-top: 1rem;
        margin-bottom: 2rem; }
        section.content .pubs ul li:last-child {
          margin-right: 0; }
        @media screen and (max-width: 768px) {
          section.content .pubs ul li {
            float: left;
            display: block;
            margin-right: 7.42297%;
            width: 100%; }
            section.content .pubs ul li:last-child {
              margin-right: 0; } }
        section.content .pubs ul li:first-child {
          margin-top: 0; }
        section.content .pubs ul li a {
          text-decoration: none;
          color: #000; }
          section.content .pubs ul li a span.description {
            margin-bottom: 0.4rem;
            display: block;
            font-family: "proxima-nova", helvetica, arial, sans-serif;
            font-size: 0.9rem;
            font-weight: 700; }
            section.content .pubs ul li a span.description span.journal-name {
              font-style: italic; }
          section.content .pubs ul li a span.title {
            margin-bottom: 0.4rem;
            display: block;
            font-family: "museo-slab", garamond, serif;
            font-size: 1.2rem; }
          section.content .pubs ul li a span.subtitle, section.content .pubs ul li a span.author {
            display: block;
            color: #888;
            font-family: "proxima-nova", helvetica, arial, sans-serif;
            font-size: 1rem; }
  section.content .about {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-right: 0; }
    section.content .about:last-child {
      margin-right: 0; }
    section.content .about p {
      font-family: "museo-slab", garamond, serif; }
  section.content .visualizations {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section.content .visualizations:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      section.content .visualizations {
        text-align: center; }
        section.content .visualizations h2 {
          text-align: left; } }
    section.content .visualizations div {
      display: inline-block;
      margin-right: 3rem;
      padding-bottom: 1.5rem;
      vertical-align: top;
      width: 12rem; }
      section.content .visualizations div a {
        background-position: 50% 50%;
        background-size: cover;
        height: 12rem;
        width: 12rem;
        display: block; }
      section.content .visualizations div span.caption {
        display: block;
        font-family: "proxima-nova", helvetica, arial, sans-serif;
        font-size: 0.9rem;
        font-weight: 700;
        text-align: center; }

footer {
  clear: both;
  max-width: 1000px;
  margin: 1rem auto;
  font-family: "museo-slab", garamond, serif;
  font-size: 0.9rem; }

/*# sourceMappingURL=style.css.map */
